NODE_ENV=VALUE_HERE
HOST=VALUE_HERE
PORT=VALUE_HERE
CORS_ORIGIN=VALUE_HERE
ALLOWED_ORIGINS=VALUE_HERE
COMMON_RATE_LIMIT_MAX_REQUESTS=VALUE_HERE
COMMON_RATE_LIMIT_WINDOW_MS=VALUE_HERE
CLUSTER_ENABLED=VALUE_HERE
CLUSTER_COUNT=VALUE_HERE
LOG_LEVEL=VALUE_HERE
LOG_FILE=VALUE_HERE
SERVICE_NAME=VALUE_HERE
SERVICE_VERSION=VALUE_HERE
APP_NAME=VALUE_HERE
SMTP_HOST=VALUE_HERE
SMTP_PORT=VALUE_HERE
SMTP_SECURE=VALUE_HERE # true or false
SMTP_USER=VALUE_HERE
SMTP_PASSWORD=VALUE_HERE
SMTP_FROM=VALUE_HERE
PROMETHEUS_URL=VALUE_HERE
JWT_SECRET=VALUE_HERE
REFRESH_TOKEN_SECRET=VALUE_HERE
JWT_EXPIRY=VALUE_HERE
REFRESH_TOKEN_EXPIRY=VALUE_HERE
FRONTEND_URL=VALUE_HERE
SERVER_URL=VALUE_HERE
MYSQL_DATABASE_URL=VALUE_HERE
P_SQL_DATABASE_URL=VALUE_HERE
MONGO_DATABASE_URL=VALUE_HERE
WEBSOCKETS_ENABLED=VALUE_HERE # true or false
