NODE_ENV=VALUE_HERE
PORT=VALUE_HERE
HOST=VALUE_HERE
CORS_ORIGIN=VALUE_HERE
COMMON_RATE_LIMIT_WINDOW_MS=VALUE_HERE
COMMON_RATE_LIMIT_MAX_REQUESTS=VALUE_HERE
CLUSTER_ENABLED=VALUE_HERE
CLUSTER_COUNT=VALUE_HERE